#main {
  background-color: #FFF;
  padding: 10px;
  min-height: 50px;
}

.tooltip {
  position: absolute;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;;
  opacity: 0.8;
}

.time-series-selection-container {
  
  height: 30%;
  padding: 6px;
  margin: 10px;
  overflow: auto;
  border: 1px solid #575757;
  display: block;
  

}
.category {
    padding-left: 0px;
    
}
.list-station {
    padding-left: 10px;
}
.group-cat {
    display: -webkit-box;
    display: -moz-box;
    padding-bottom: 10px;
}
.flot-tick-label .tickLabel{
  transform: rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}
.filter-selection-container{
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}