<div class="filter-select">
<div class="title">Filters</div>
<% 
var count = 0;
if ( filters.length > 0 ) { %>
	<div class="filter-select-container">
	    <% _.each(filters, function(t) { 
	    	var checked = "";
	    	if(t.isChecked){
	    		checked = "checked";
	    	}
	    	if(t.filter != " "){%>
		    	<input type="checkbox" name="<%= t.filter %>" value="<%= t.timeSerie %>" <%= checked %>><%= t.filter %></input>
		    	<br/>
		    <% 
		    	count++;
	    	}});
	    if(count == 0){%>
	    	No Filter
	    <%} %>
	</div>
<% } %>
</div>