{{#list series}}
	<div class="input-field col s12 ">
    <select class="filter-select" multiple>
      {{#if nodata}}
        <option class="filter-select-option"  value="" disabled selected>No Data</option>
      {{else}}
        <option class="filter-select-option"  value="" disabled selected>Select your filter</option>
        {{#list filters}}
        
          {{#if isSelected}}
      		  <option class="filter-select-option"  selected value="{{value}}">{{showingName}}</option>
          {{else}}
            <option class="filter-select-option" value="{{value}}">{{showingName}} </option>
          {{/if}}
        {{/list}}
      {{/if}}
    </select>
    <label>{{name}}</label>
  </div>
{{/list}}
