<%
var seriesCategories = []; 
var flag;
var curCategory = "";
var maxNumCol = 4;
var colWidth = 100.0/3;
var count = 0;
var station1 = "";
var station2= "";
var seismic = timeSeries.Seismic;
var deformation = timeSeries.Deformation;
var gas = timeSeries.Gas;
var hydrology = timeSeries.Hydrology;
var thermal = timeSeries.Thermal;
var field = timeSeries.Field;
var meteology = timeSeries.Meteology;
var station1 ="";
var station2 = "";
function determineStationCode(data){
  
  if(data.station_id1 == data.station_id2){

    station1 = data.station_code1;
    station2 = "";
  }else{
    if(data.station_id1 == "0"){
      station1 = "";
      station2 = data.station_code2;
    }else {
      station1 = data.station_code1;
      if(data.station_id == "0"){
        station2 = "";
      }else{
        station2 = " - "+data.station_code2;
      }
    }
  }
}
%>
  <div class="card-panel">
  <% if(seismic != undefined){ %>
    <div class="input-field col s12 ">

    <select class="time-serie-select" multiple>
      <option value="" disabled selected>Choose your Seismic data</option>
      <% 
      
      for(var i = 0; i<seismic.length;i++){
        var data = seismic[i];
        determineStationCode(data);
       %>
        <option class="time-serie-select-option" value="<%= data.sr_id %>"><%= station1 %><%= station2 %> (<%= data.component %>) </option>
      <%}%>
    </select>
    <label>Seismic Data</label>
    </div>
    <%}%>
    <% if(deformation != undefined){ %>
    <div class="input-field col s12 ">
    <select class="time-serie-select" multiple>
      <option value="" disabled selected>Choose your Deformation data</option>
      <% 
      for(var i = 0; i<deformation.length;i++){
        var data = deformation[i];
        determineStationCode(data);
       %>
        <option class="time-serie-select-option" value="<%= data.sr_id %>"><%= station1 %><%= station2 %> (<%= data.component %>) </option>
      <%}%>
    </select>
    <label>Deformation Data</label>
    
    </div>
    <%}%>
    <% if(gas != undefined){ %>
    <div class="input-field col s12 ">
    <select class="time-serie-select" multiple>
      <option class="time-serie-select-option" value="" disabled selected>Choose your Gas data</option>
      <% 
      
      for(var i = 0; i<gas.length;i++){
        var data = gas[i];
        determineStationCode(data);
       %>
        <option class="time-serie-select-option" value="<%= data.sr_id %>"><%= station1 %><%= station2 %> (<%= data.component %>) </option>
      <%}%>
    </select>
    <label>Gas Data</label>
    </div>
    <%}%>
    <%if(thermal != undefined){%>
    <div class="input-field col s12 ">
    <select class="time-serie-select" multiple>
      <option class="time-serie-select-option" value="" disabled selected>Choose your Thermal data</option>
      <% 
      for(var i = 0; i<thermal.length;i++){
        var data = thermal[i];
        determineStationCode(data);
       %>
        <option class="time-serie-select-option" value="<%= data.sr_id %>"><%= station1 %><%= station2 %> (<%= data.component %>) </option>
      <%}%>
    </select>
    <label>Thermal Data</label>
    </div>
    <%}%>
    <%if(hydrology != undefined){%>
    <div class="input-field col s12 ">
    <select class="time-serie-select" multiple>
      <option class="time-serie-select-option" value="" disabled selected>Choose your Hydrology data</option>
      <% 
      for(var i = 0; i<hydrology.length;i++){
        var data = hydrology[i];
        determineStationCode(data);
       %>
        <option class="time-serie-select-option" value="<%= data.sr_id %>"><%= station1 %><%= station2 %> (<%= data.component %>) </option>
      <%}%>
    </select>
    <label>Hydrology Data</label>
    </div>
    <%}%>
    <% if(meteology != undefined){ %>
    <div class="input-field col s12 ">
    <select class="time-serie-select" multiple>
      <option class="time-serie-select-option" value="" disabled selected>Choose your Meteology data</option>
      <% 
      
      for(var i = 0; i<meteology.length;i++){
        var data = meteology[i];
        determineStationCode(data);
       %>
        <option class="time-serie-select-option" value="<%= data.sr_id %>"><%= station1 %><%= station2 %> (<%= data.component %>) </option>
      <%}%>
    </select>
    <label>Meteology Data</label>
    </div>
    <%}%>
    <% if(field != undefined){ %>
    <div class="input-field col s12 ">
    <select class="time-serie-select" multiple>
      <option class="time-serie-select-option" value="" disabled selected>Choose your Field data</option>
      <% 
      
      for(var i = 0; i<field.length;i++){
        var data = field[i];
        determineStationCode(data);
       %>
        <option class="time-serie-select-option" value="<%= data.sr_id %>"><%= station1 %><%= station2 %> (<%= data.component %>) </option>
      <%}%>
    </select>
    <label>Field Data</label>
    </div>
    <%}%>

    <%if(seismic == undefined 
      && deformation == undefined 
      && gas == undefined 
      && hydrology == undefined 
      && thermal == undefined
      && meteology == undefined
      && field == undefined){%>
      No Time Series Data
    <%}else{ %>
    <%} %>
  </div>
