<%
var seriesCategories = []; 
var flag;
var curCategory = "";
var maxNumCol = 4;
var colWidth = 100.0/3;
var count = 0;
var station1 = "";
var station2= "";

if (!_.isEmpty(timeSeries)) { 
	
	
	
	%>
    <div class="time-serie-select">
    <div class="title">Available Data:</div>
    <div class="time-serie-select-container" id="time-serie-select">

	<table  class="time-serie-select-table">
    <% _.forEach(timeSeries, function(timeSerie) { 

    	if(curCategory != timeSerie.get('category')){
    		
    		if(curCategory != ""){ %>
            <!-- end 1 category -->
    			</div>
    			
    			</td>
    			
    			<% 
	    		count = (count+1)%maxNumCol; 
	    		if(count == 0){ %>
                <!-- end last group cat , go to the new row -->
	    			</tr>

	    		<%}
    		}
    		curCategory = timeSerie.get('category'); 
    		if(count==0) { %>
                <!-- start new group cat -->
    			<tr class="group-cat">
    		<% }
    		%>
            <!-- list categories -->
    		<td class="category">
    			<input type="checkbox" name ="category" value="<%= timeSerie.get('category') %>"/> <%= timeSerie.get('category') %>
    				<div style="padding-top:5px">
    		<%

		}
    	%>             <!-- list stations -->
    					<ul class="list-station"><input  type="checkbox" name = "<%= timeSerie.get('category') %>" value="<%= timeSerie.get('sr_id') %>"/>
                        <%

                        station1 = timeSerie.get('station_code1') ;
                        if (timeSerie.get('station_id1') != timeSerie.get('station_id2')){
                            if(timeSerie.get('station_code1') == ""){
                                station2 = timeSerie.get('station_code2');
                            }else{
                                station2 = " - " + timeSerie.get('station_code2');

                            }
                        }else{
                            station2 = "";
                        }
                        %>
    					 <%= station1 %> <%= station2 %> (<%= timeSerie.get('component') %>)</ul>
                        
    <% }); %>
    </table>
  </div><!--end time serie select container -->
<% } else { %>
  <div class="message">No time serie found.</div>
<% } %>
    </div>
